<html>
<head>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <!-- favicon error 없앤거 -->
  <link rel="shortcut icon" href="#">
</head>
<body>
<div>
  <canvas id="myChart"></canvas>
</div>
<script>
const labels = ['January','February','March','April','May','June'];
const data = {
  labels: labels,
  datasets: [{
    label: 'My First dataset',
    backgroundColor: 'rgb(255, 99, 132)',
    borderColor: 'rgb(255, 99, 132)',
    data: [0, 10, 5, 2, 20, 30, 45],
  },
  {
    label: 'kkk',
    backgroundColor: 'rgb(255, 99, 132)',
    borderColor: 'rgb(255, 99, 132)',
    data: [30, 10, 5, 2, 20, 30, 45],
  }]
};

const config = {
  type: 'line',
  data,
  options: {}
};

</script>
<script>
  // 잘 받는지 testhead
  script(src='https://cdn.jsdelivr.net/npm/chart.js')
  // favicon error 없앤거
  link(rel='shortcut icon' href='#')
div
  canvas#myChart
script.
  const labels = ['January','February','March','April','May','June'];
  const data = {
  labels: labels,
  datasets: [{
  label: 'My First dataset',
  backgroundColor: 'rgb(255, 99, 132)',
  borderColor: 'rgb(255, 99, 132)',
  data: [0, 10, 5, 2, 20, 30, 45],
  },
  {
  label: 'kkk',
  backgroundColor: 'rgb(255, 99, 132)',
  borderColor: 'rgb(255, 99, 132)',
  data: [30, 10, 5, 2, 20, 30, 45],
  }]
  };
  const config = {
  type: 'line',
  data,
  options: {}
  };
script.
  // 잘 받는지 testW
  //const dbData = JSON.stringify(db_data);
  console.log(db_data);
script.head
  script(src='https://cdn.jsdelivr.net/npm/chart.js')
  // favicon error 없앤거
  link(rel='shortcut icon' href='#')
div
  canvas#myChart
script.
  const labels = ['January','February','March','April','May','June'];
  const data = {
  labels: labels,
  datasets: [{
  label: 'My First dataset',
  backgroundColor: 'rgb(255, 99, 132)',
  borderColor: 'rgb(255, 99, 132)',
  data: [0, 10, 5, 2, 20, 30, 45],
  },
  {
  label: 'kkk',
  backgroundColor: 'rgb(255, 99, 132)',
  borderColor: 'rgb(255, 99, 132)',
  data: [30, 10, 5, 2, 20, 30, 45],
  }]
  };
  const config = {
  type: 'line',
  data,
  options: {}
  };
script.
  // 잘 받는지 testW
  //const dbData = JSON.stringify(db_data);
  console.log(db_data);
script.
  const myChart = new Chart(
  document.getElementById('myChart'),
  config
  );

  const myChart = new Chart(
  document.getElementById('myChart'),
  config
  );

  //const dbData = JSON.stringify(db_data);
  console.log(db_data);
</script>
<script>
  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
</script>
</b>
</html>